@media (max-width: 1600px) {
  #background-object {
    width: 100%;
  }

  .headline {
    display: none;
  }

  .headline img {
    margin: 10px;
  }

  h1 {
    font-size: clamp(16px, 3.5vw, 40px);
    margin-top: 10px;
  }

  canvas,
  #content {
    width: 80vw;
    height: auto;
    top: 40%;
  }

  .buttonbox-walk,
  .buttonbox-action {
    width: 9vw;
    height: 9vh;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 75%;
    transform: translateY(-50%);
  }

  .buttonbox-walk {
    left: -15%;
  }

  .buttonbox-action {
    right: -15%;
  }
}

@media (max-width: 1280px) {
  #background-object {
    width: 100%;
  }

  .headline {
    display: none;
  }

  canvas,
  #content {
    width: 75vw;
    top: 45%;
  }

}

@media (max-width: 1040px) {
.buttonbox-walk {
  left: -17%;
}

.buttonbox-action {
  right: -17%;
}

canvas,
#content {
  width: 70vw;
}
}


@media (max-width: 950px) {
  canvas,
  #content {
    width: 60vw;
    top: 45%;
  }

  .buttonbox-walk {
    left: -19%;
  }
  
  .buttonbox-action {
    right: -19%;
  }

}

@media (max-width: 780px) {
  .buttonbox-walk,
  .buttonbox-action {
    width: 8vw;
    height: 8vh;
}
}

