@media (max-width: 1600px) {
  #background-object {
    width: 100%;
  }

  .headline {
    display: none;
  }

  .headline img {
    margin: 10px;
  }

  h1 {
    font-size: clamp(16px, 3.5vw, 40px);
    margin-top: 10px;
  }

  canvas,
  #content {
    height: auto;
    width: 60vw;
    top: 46%;
  }

  .buttonbox-walk,
  .buttonbox-action {
    width: 13vw;
    height: 16vh;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 75%;
    transform: translateY(-50%);
  }

  .buttonbox-walk {
    left: -25%;
  }

  .buttonbox-action {
    right: -25%;
  }
}
@media (max-width: 1280px) {

  .buttonbox-walk {
    left: -27%;
  }

  .buttonbox-action {
    right: -27%;
  }
}


@media (max-width: 950px) {

  .buttonbox-walk {
    left: -28%;
  }

  .buttonbox-action {
    right: -28%;
  }

}
